/*Estilos para contenido Header*/
.icono img{
  overflow: hidden;
  height: 50px;
  margin-top: -25px;
}

button img{
  overflow: hidden;
  height: 50px;
  float: right;
}

.btn-group {
  float: right;
}
.btn-group button{
  border-width: 0px!important;
}

/*Estilos navbar*/

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar{
  text-align: center;

}

.item-menu{
  margin-left: 30px;
  margin-right: 30px;
}

/*Estilos cuerpo*/
.imagen{
  margin-top: 25px;
}

@media (max-width:768px) {
  .textos{
    width: 100%;
  }
  .imagen{
    text-align: center!important;
    display: block!important;
  }
  .ocultar-en-small{
    display: none;
  }
}
